@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h1 class="display-4">Welcome,</h1>
    <h1 class="display-4">Please Log In</h1>

    <br />

    <a class="btn btn-outline-secondary"
       asp-controller="Login" asp-action="Login">Login Now</a>

</div>

